@using Kadry.Web.Models.BusinessLogicViewModel
@{

    ViewData["Title"] = "Lista Osób";
    var i = 0;
}
@model IEnumerable<PersonViewModel>


    <div class="text-center">
        <h1 class="display-4">Lista osób</h1>
    </div>

    <a class="menu-button-subitem-rounded" asp-controller="Person" asp-action="PersonAdd">Dodaj</a>

    <table class="table table-info ">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Pesel</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Imię</th>
                <th scope="col">Data Urodzenia</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
            <tr class="tableRow">
                <th scope="row">@(i=i+1)</th>
                <td>@obj.Id</td>
                <td>@obj.SocialNumber </td>
                <td>@obj.Name</td>
                <td>@obj.FirstName</td>
                <td>@obj.DateOfBirth</td>
                <td><a class="menu-button-subitem-rounded" asp-controller="SimpleCrud" asp-action="PersonGet" asp-route-id="@(obj.Id.ToString())">Zmień</a></td>
            </tr>

                @*@(i=i++)*@
            }
    </table>