@using Kadry.Web.Models.Dictionaries
@{

    ViewData["Title"] = "Lista Państw";
    var i = 0;
}
@model IEnumerable<CountryViewModel>

<div class="text-center">
    <h1 class="display-4">Lista państw</h1>

</div>


<table class="table table-info ">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Sort</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Opis</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="tableRow">
                <th scope="row">@(i=i+1)</th>
                <td >@obj.Id</td>
                <td>@obj.Sort </td>
                <td>@obj.Name</td>
                <td>@obj.Description</td>
                <td><a class="menu-button-subitem-rounded" asp-controller="Country" asp-action="Get" asp-route-id="@(obj.Id.ToString())">Zmień</a></td>
            </tr>

            @*@(i=i++)*@
        }
</table>

<style>

    .tableRow {
        background-color: powderblue;
        transition: background-color .5s;
    }

    .tableRow:hover {
        background-color: aqua;
    }
</style>